{%- extends "layout.html" -%}
{%- set title = __('Soundfile') -%}
{%- block content -%}
	<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
		<header class="mt-3 sticky-top bg-white">
			<div class="d-flex w-100 justify-content-between align-items-center">
				<div>
					<h1 class="d-inline-block m-0">{{ __('Soundfile') }}</h1>
					<small class="d-none d-sm-inline-block text-secondary">{{ __('Upload Form') }}</small>
				</div>
				<div>
					<label id="soundfileSubmitLabel" class="btn btn-sm btn-outline-dark" onmouseover="" style="cursor: pointer; border: none;" for="soundfileSubmit" tabindex="0">
						<span id="saveSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		  			{{ __('Save') }}
					</label>
					<a href="{{ url_for('gallery.get_soundfile_catalog') }}" class="btn btn-sm btn-block btn-outline-dark" style="border: none;">{{ __('Cancel') }}</a>
					{% if renderer %}
						<a href="#collapseRenderer" class="btn btn-sm btn-block btn-outline-dark" style="border: none;" data-bs-toggle="collapse">{{ __('Render') }}</a>
					{% endif %}
				</div>
			</div>
			{% if renderer %}
				<div class="collapse p-2" id="collapseRenderer" style="background-color: rgb(250, 250, 250);">
					<div class="row">
						<form id="rendererForm" class="col-12 pt-2 pb-3" method="post" actions="">
							{{ renderer.csrf_token }}
							<div class="row p-1 g-3">
								<div class="col-12 form-floating">
									<select class="form-select form-select-sm" id="{{ renderer.preset.label.text }}" name="{{ renderer.preset.label.text }}">
										{%- for choice in renderer.preset.choices -%}
											<option value="{{ choice[0] }}"{%- if renderer.preset.data == choice[0] -%}{{ ' selected' }}{%- endif -%}>{{ __(choice[1]) }}</option>
										{%- endfor -%}
									</select>
									<label style="color: lightgrey; font-size: 0.9rem;" for="{{ renderer.preset.label.text }}">{{ __('Preset') }}</label>
								</div>
								<div class="offset-4 col-4">
									<label id="rendererSubmitLabel" class="w-100 btn btn-sm btn-outline-dark" onmouseover="" style="cursor: pointer;" for="rendererSubmit" tabindex="0">
										<span id="applySpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						  			{{ __('Apply') }}
									</label>
									<input type="submit" class="d-none" name="{{ renderer.submit.label.text }}" id="{{ renderer.submit.label.text }}" value="" />
								</div>
							</div>
						</form>
					</div>
				</div>
			{%- endif -%}
			<hr class="m-0 mb-3 shadow-sm"/>
		</header>
		<form id="soundfileForm" method="post" actions="" enctype="multipart/form-data">
			{{ form.csrf_token }}
			<div class="row p-1 g-3">
				<div class="col-12 form-floating">
					<input autofocus type="text" class="form-control form-control-sm{%- for error in form.name.errors -%}{{ ' is-invalid' }}{%- endfor -%}" id="{{ form.name.label.text }}" name="{{ form.name.label.text }}" placeholder="{{ __('Name') }}" value="{{ form.name.data|default('', True) }}" />	
					<label style="color: lightgrey;" for="{{ form.name.label.text }}">{{ __('Name') }}</label>
					{%- for error in form.name.errors -%}
						<div class="invalid-feedback">
							{{ __(error) }}
						</div>
					{%- endfor -%}
				</div>
				<div class="col-12 form-floating">
					<input type="text" class="form-control form-control-sm{%- for error in form.description.errors -%}{{ ' is-invalid' }}{%- endfor -%}" id="{{ form.description.label.text }}" name="{{ form.description.label.text }}" placeholder="{{ __('Description') }}" value="{{ form.description.data|default('', True) }}" />	
					<label style="color: lightgrey;" for="{{ form.description.label.text }}">{{ __('Description') }}</label>
					{%- for error in form.description.errors -%}
						<div class="invalid-feedback">
							{{ __(error) }}
						</div>
					{%- endfor -%}
				</div>
				<div class="col-12 form-floating">
					<input type="text" class="form-control form-control-sm{%- for error in form.filename.errors -%}{{ ' is-invalid' }}{%- endfor -%}" id="{{ form.filename.label.text }}" name="{{ form.filename.label.text }}" placeholder="{{ __('Filename') }}" value="{{ form.filename.data|default('', True) }}" onkeypress="return false;" />	
					<label style="color: lightgrey;" for="{{ form.filename.label.text }}" >{{ __('File') }}</label>
					<input type="file" class="d-none "id="{{ form.filename.label.text }}File" name="{{ form.filename.label.text }}File"/>	
					{%- for error in form.filename.errors -%}
						<div class="invalid-feedback">
							{{ __(error) }}
						</div>
					{%- endfor -%}
				</div>
				<input type="submit" id="soundfileSubmit" name="soundfileSubmit" class="d-none" />
			</div>
		</form>
		<div class="col-12" style="height: 4rem;"></div>
	</div>
{%- endblock -%}
{%- block body_script-%}
	<script type="text/javascript">
		var placeholderColor = window.getComputedStyle($("#{{ form.name.label.text }}")[0], "::placeholder").getPropertyValue("color");
		var textColor = window.getComputedStyle($("#{{ form.name.label.text }}")[0]).getPropertyValue("color");
		$(window).on('load', function() {
			// Toggle text color for form-select controls (placeholder)
			$('[class*="form-select"]').each(function() {
				toggleColor(this);
				$(this).on('change', function() {
					toggleColor(this);
				});
			});
			// File input switch browse
			$("#{{ form.filename.label.text }}").on("click", function() {
				$("#{{ form.filename.label.text }}File").click();
			});
			$("#{{ form.filename.label.text }}").on("keydown", function(event) {
				if (event.keyCode == 32) $("#{{ form.filename.label.text }}File").click();
				if (event.keyCode == 13) $("#soundfileForm").submit();
			});
			$("#{{ form.filename.label.text }}File").on("change", function() {
				$("#{{ form.filename.label.text }}").val($("#{{ form.filename.label.text }}File").val().split(/(\\|\/)/g).pop());
			});
			// Save spinner
			$("#saveSpinner").hide();
			$("#soundfileForm").on("submit", function() {
				$("#saveSpinner").show();
			});
			// Apply spinner
			$("#applySpinner").hide();
			$("#rendererForm").on("submit", function() {
				$("#applySpinner").show();
			});
		});
		function toggleColor(selectElement) {
			if (selectElement.options.selectedIndex == 0) {
				$(selectElement).css('color', placeholderColor);
			} else {
				$(selectElement).css('color', textColor);
			}
		}
	</script>
{%- endblock -%}
