{%- extends "layout.html" -%}
{%- set title = __('Avatar') -%}
{%- set hidden_content = False -%}
{%- block script -%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
{%- endblock -%}
{%- block content -%}
	<div class="ui-element" style="position: absolute; left: 0; top: 0; right: 0; padding: 0 1rem; z-index: 101;">
		<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
			<div class="d-flex w-100 justify-content-between mt-3">
				<div class="d-flex align-items-center" style="border-radius: 2rem; background-color: rgba(255, 255, 255, 0.9); margin: 0 -0.5rem; padding: 0 0.5rem;">
					<h1 class="m-0 d-inline">{{ __('Avatar') }}</h1>
					<div class="d-inline m-2"><span id="loadSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex align-items-center row" style="height: 100vh;">
		<div class="avatar-list text-center d-flex justify-content-center">
			<div class="avatar-cube" style="transform-style: preserve-3d; width: 100vw; height: 100vh;">
				<img class="avatar-face" src="" style="max-width: 100%; max-height: 100%; height: 100%;"/>
			</div>
		</div>
	</div>
	<div class="d-none avatar-sample" id="">
		<img src="" alt=""/>
		<audio preload="auto"><source src="" type=""></audio>
	</div>
{%- endblock -%}
{%- block body_script -%}
	<script type="text/javascript">
		var user_uid = '';
		var preloadCount = 0;
		$(window).on('load', function() {
			// Prepare avatar page
			$(".avatar-list").fadeTo(0, 0);
			// SocketIO initiate
			var socket = io();
			socket.on('connect', function() {
				var avatar_list = [];
				$('[class*="avatar-item"]').each(function() {
					avatar_list.push($(this).attr("id"));
				});
				socket.emit('avatar_connected', {
					avatar_list: avatar_list
				});
				console.log("Connecting to server success");
			})
			$("#loadSpinner").hide();
			socket.on('clear_data', function(data, callback) {
				$("#loadSpinner").show();
				if (data.avatar_list) {
					data.avatar_list.forEach(function(item, index) {
						console.log(item.uid + ' clearing...');
						$("#" + item.uid).remove();
						if (callback) callback("cleared");
						console.log(item.uid + " cleared");
					});
				} else {
					$(".avatar-list").fadeTo(500, 0);
					$(".avatar-face").attr("src", "");
					$('[class*="avatar-item"]').each(function() {
						var uid = $(this).attr("id");
						console.log(uid + ' clearing...');
						$(this).remove();
						if (callback) callback("cleared");
						console.log(uid + " cleared");
					});
				}
				$("#loadSpinner").hide();
			})
			socket.on('load_data', function(data, callback) {
				console.log(data.uid + " loading...");
				loadData(data);
				if (callback) callback(data.uid + " loaded");
				console.log(data.uid + " loading complete");
			})
			socket.on('play_data', function(data, callback) {
				$("#loadSpinner").show();
				$(".avatar-list").fadeTo(0, 0);
				$(".avatar-face").attr("src", "");
				console.log(data.uid + " play starting...");
				loadData(data);
				$(".avatar-face").attr("src", data.image.src);
				$(".avatar-list").fadeTo(1000, 1);
				$("#" + data.uid).children("audio")[0].play();
				if (callback) callback(data.uid + " playing...");
				console.log(data.uid + " playing...");
				$("#loadSpinner").hide();
			})
		})
		function loadData(data) {
			var avatarItem = $("#" + data.uid);
			if ($(avatarItem).length) {
				if ($(avatarItem).children("img").attr("src") != data.image.src || $(avatarItem).children("audio").attr("src") != data.audio.src) {
					$(avatarItem).remove();
					avatarItem = null;
				}
			}
			if ($(avatarItem).length == 0) {
				$("#loadSpinner").show();
				var clone = $('[class*="avatar-sample"]').clone();
				$(clone).attr("id", data.uid);
				$(clone).attr("class", "d-none avatar-item");
				preloadCount++;
				$(clone).children("img").attr("src", data.image.src);
				$(clone).children("img").on('load', function() {
					preloadCount--;
					if (preloadCount == 0) {
						$("#loadSpinner").hide();
					}
				});
				preloadCount++;
				$(clone).children("audio").children("source").attr("src", data.audio.src);
				$(clone).children("audio").children("source").attr("type", data.audio.type);
				$(clone).children("audio").on('ended', function() {
					$(".avatar-list").fadeTo(500, 0);
				});
				$(clone).children("audio").on('canplaythrough', function() {
					preloadCount--;
					if (preloadCount == 0) {
						$("#loadSpinner").hide();
					}
				});
				$(clone).appendTo($('[class*="avatar-list"]'));
			}
		}
	</script>
{%- endblock -%}
