{%- extends "layout.html" -%}
{%- set title = __('Authenticate') -%}
{%- set hidden_content = True -%}
{%- block content -%}
	<div class="d-flex align-items-center row" style="height: calc(100vh - 5rem);">
		<div>
			<div class="text-center" style="font-size: 0.5rem;">
				{%- for ascii in ascii_img -%}
					<pre class="m-0 p-0">{{ ascii }}</pre>
				{%- endfor -%}
			</div>
			<div class="card shadow-sm p-3 col-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
				<form id="signInForm" actions="" method="post">
					{{ form.csrf_token }}
					<div class="row g-3">
						<div class="offset-1 col-10 text-center form-floating mb-1">
							<input autofocus type="password" class="form-control form-control-sm text-center" id="{{ form.pin.label.text }}" name="{{ form.pin.label.text }}" placeholder="{{ __('Personal Identification Number (PIN)') }}" value="{{ form.pin.data|default('', True) }}" {%- if form.password.data -%}{{ ' readonly' }}{%- endif -%} />
							<label class="self-items-middle" style="color: lightgrey; right: 0;" for="{{ form.pin.label.text }}">{{ __('Personal Identification Number (PIN)') }}</label>
							<input id="{{ form.touch.label.text }}" name="{{ form.touch.label.text }}" class="d-none"/>
						</div>
						{%- if form.password.data -%}
							<div class="offset-1 col-10 text-center form-floating mb-1">
								<input type="text" class="form-control form-control-sm text-center" id="{{ form.password.label.text }}" name="{{ form.password.label.text }}" placeholder="{{ __('Password') }}" value="{{ form.password.data|default('', True) }}" />
								<label style="color: lightgrey; right: 0;" for="{{ form.password.label.text }}">{{ __('Password') }}</label>
							</div>
							<div class="offset-1 col-10 text-center form-floating mb-1">
								<input type="submit" class="d-none" id="{{ form.submit.label.text }}" name="{{ form.submit.label.text }}" value="{{ __('Submit') }}" />
							</div>
						{%- else -%}
							<input type="text" class="d-none" id="{{ form.password.label.text }}" name="{{ form.password.label.text }}" placeholder="{{ __('Password') }}" value="{{ form.password.data|default('', True) }}" />
							<div class="offset-1 col-10 text-center form-floating mb-1">
								<input type="submit" class="btn btn-block btn-sm btn-outline-dark" id="{{ form.submit.label.text }}" name="{{ form.submit.label.text }}" value="{{ __('Submit') }}" />
							</div>
						{%- endif -%}
					</div>
				</form>
			</div>
		</div>
	</div>
{%- endblock -%}
{%- block body_script -%}
	<script type="text/javascript">
		$(window).on('load', function() {
			if ($("#{{ form.password.label.text }}").val()) {
				setInterval(verifyPin, 5000);
			}
			var hasTouchScreen = false;
			if ("maxTouchPoints" in navigator) {
				hasTouchScreen = navigator.maxTouchPoints > 0;
			} else if ("msMaxTouchPoints" in navigator) {
				hasTouchScreen = navigator.msMaxTouchPoints > 0;
			} else {
				var mQ = window.matchMedia && matchMedia("(pointer:coarse)");
				if (mQ && mQ.media === "(pointer:coarse)") {
					hasTouchScreen = !!mQ.matches;
				} else if ('orientation' in window) {
					hasTouchScreen = true; // deprecated, but good fallback
				} else {
					// Only as a last resort, fall back to user agent sniffing
					var UA = navigator.userAgent;
					hasTouchScreen = (
						/\b(BlackBerry|webOS|iPhone|IEMobile)\b/i.test(UA) ||
						/\b(Android|Windows Phone|iPad|iPod)\b/i.test(UA)
					);
				}
			}
			$("#{{ form.touch.label.text }}").val(hasTouchScreen);
		});
		function verifyPin() {
			$.ajax({
				type: "post",
				async: false,
				url: $("#signInForm").attr("actions"),
				data: $("#signInForm").serialize(),
				success: function (data, textStatus, request) {
					if (data.redirect) {
						location.pathname = data.redirect;
					} else if (!data.wait) {
						location.href = location.origin;
					}
				}
			});
		}
	</script>	
{%- endblock -%}
